.board {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__cards--container {
    align-self: center;
    justify-self: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 200px;

    >article {
      justify-self: center;
    }

    @media (max-height: 90vw * 1.3) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding-bottom: 50px;
    }

    @media (max-width: 1000px) {
      gap: 10px;
    }
  }
}
