.board {
  padding: 100px;

  &__cards--container {
    justify-content: center;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin: auto;
    max-width: 800px;

    >article {
      justify-self: center;
    }
  }
}
