.card {
  display: flex;
  border: 5px solid #fafafa;
  background: var(--cardBackground);
  height: 175px;
  width: 125px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  line-height: 60px;
  box-shadow: 2px 2px 6px rgba(30, 15, 0, 0.3);

  .card__face {
    opacity: 0;
    user-select: none;
  }

  &--face-up {
    background: #fafafa;

    .card__face {
      opacity: 1;
    }
  }
}
